*{

    margin: 0;
    box-sizing: none;

}

ul{
    list-style: none;
}
/*------header---------*/

.header-list{

margin:15px 0px!important;

}
.header-list li{

    display: inline;
    border-right: 2px solid #777;
    padding: 0px 5px;
    color:aquamarine;


}
.header-list li:last-child{

    border-right: none;

}
.header-list li a{

    color: #777;
    text-decoration: none;


}

.header-list li a:hover{

    color: dimgray;
    font-weight:bold;
}
.header-right{
    text-align: right;
    margin:10px 0px!important;

}
.header-left-list{
    margin:0!important;


}
.header-left-list li{

    display: inline;
}

.navbar-logo{

    padding: 10px;
}
.navbar-inverse{

    background-color: transparent!important;
    border-color: transparent!important;
}

.li-bg{

    background-image: url(../images/sol-bg.png);
    background-repeat: no-repeat;
    background-size:;
}

.nav-list{

        line-height: 60px;
        margin-bottom: 0px!important;

}
.nav-list li a{

    color: white!important;
    text-decoration: none;

}

.dummy{
    background-color: rgba(2, 2, 2, 0.38)!important;    
    position: absolute;
    padding: 0px;
    z-index: 1;
    width: 100%;

}


.nav-list li{

    display: inline;
    padding: 5px;
    vertical-align: middle;
    line-height: 50px;

}
.item img{

    width: 100%!important;
}

.sub-title{




}
.sub-title h3{


    text-align:center;
}

.cover{
    padding: 0;
}
.select-lable{

    display: block;
    font-weight: normal!important;
}
.select-bx{

    height: 40px;
    width: 310px;
}
.select-box{

    float: left;
    padding-left: 40px;

}
.go-btn{
    background-color: dodgerblue;
    border: 0;
    width: 40px;
    height: 40px;
    margin-top:25px;
    margin-left: 30px;
    color: white;
}
.thum-bg{
    background-color: #ff7e00;
    color: white!important;
    height: 260px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 0px;

}
.list_style{

    list-style: disc;
    padding-top: 20px;
    padding-left: 23px;
    list-style: disc;
    font-size: 18px;
    padding-right: 20px;

}
.list_style li{
    padding: 10px 0;

}
.thum-cnt{
    padding-top: 50px;

}
.list_style li a{

    color: white;
    text-decoration: none;
    font-size:15px;
}

.headng{


    font-size: 18px;
    color: white;
    font-weight: 100;
    line-height: 35px;

}
.mor{
    float: right;
    background-color: rgba(255, 255, 255, 0.85);
    height: 30px;
    width: 18%;
    color: orange;
    text-align: right;
    font-size: 18px;
    padding-top: 3px;

}
.mor:hover{

    background-color:rgba(255, 255, 255, 0);
    border-left: 1px;
    border-right: 0;
    border-bottom: 1px;
    border-top: 1px;
    border-left: 1px;
    border-color: white;
    border-style: solid;
    color: white;

}
.thum1-bg{


    color: white!important;
    height: 260px;
    }
.thum2-bg{


    color: white!important;
    height: 260px;
